<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585381866834-uj4r5a0d7l0isjch2lrpps5ahm2kqoc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585381866834-uj4r5a0d7l0isjch2lrpps5ahm2kqoc0</string>
	<key>API_KEY</key>
	<string>AIzaSyC_RP8w3-Lymy_L3UgEVF_Afdc52k1Ugks</string>
	<key>GCM_SENDER_ID</key>
	<string>585381866834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ws.ssd-21224</string>
	<key>PROJECT_ID</key>
	<string>washandfold-79f57</string>
	<key>STORAGE_BUCKET</key>
	<string>washandfold-79f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585381866834:ios:3bf34ff389279c01555e8b</string>
	<key>DATABASE_URL</key>
	<string>https://washandfold-79f57-default-rtdb.firebaseio.com</string>
</dict>
</plist>